<app-bread-crumb
    [items]="[{text: 'Pedidos', link: '/orders'}, {text: pageTitle}]"
/>

<app-page-header
    [page-title]="pageTitle"
    btn-class="btn-primary"
    btn-text="<< Voltar"
    btn-link="/orders"
/>

<form [formGroup]="resourceForm" (submit)="submitForm()">
    <div class="card">
        <div class="card-header">
            Informações sobre o pedido
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="client">Nome do cliente</label>
                    <input class="form-control" id="client" formControlName="client" />
                    <app-form-field-error [form-control]="form['client']"></app-form-field-error>
                </div>

                <div class="form-group col-md-3">
                    <label for="total">Valor total</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        <input [imask]="imaskConfig" class="form-control" id="total" formControlName="total" />
                    </div>
                    <app-form-field-error [form-control]="form['total']"></app-form-field-error>
                </div>

                <div class="form-group col-md-2">
                    <label for="deliveryDate">Data da entrega</label><br>
                    <p-calendar
                        id="deliveryDate"
                        inputStyleClass="form-control"
                        dataType="string"
                        dateFormat="dd/mm/yy"
                        [showButtonBar]="true"
                        formControlName="deliveryDate"
                    >
                    </p-calendar>
                    <app-form-field-error [form-control]="form['deliveryDate']"></app-form-field-error>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="details">Detalhes do pedido</label>
                    <textarea
                        class="form-control"
                        id="details"
                        formControlName="details"
                        rows="6"
                    >
                    </textarea>
                    <app-form-field-error [form-control]="form['details']"></app-form-field-error>
                </div>
            </div>
        </div>
    </div>
    <button
        [disabled]="submittingForm || resourceForm.invalid"
        type="submit"
        class="btn btn-primary btn-lg float-right mt-3"
    >Salvar</button>
</form>
