<h1>Dashboard</h1>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            Acompanhamento de Pedidos
        </div>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>150</h3>
                        <p>Aguardando Confirmação</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-business-time"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>53</h3>
                        <p>Confirmados</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>44</h3>
                        <p>Pendentes</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-exclamation"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>25</h3>
                        <p>Concluídos (Mês atual)</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-dollar-sign"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-primary">
                <i class="fa fa-arrow-up"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Meta do mês</span>
                <span class="info-box-number">R$ 1500,00</span>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-success">
                <i class="fa fa-dollar-sign"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Faturamento do mês</span>
                <span class="info-box-number">R$ 800,00</span>
            </div>
        </div>
    </div>
</div>