<h1>Dashboard</h1>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            Acompanhamento de Pedidos
        </div>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>150</h3>
                        <p>Aguardando Confirmação</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-business-time"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>53</h3>
                        <p>Confirmados</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>44</h3>
                        <p>Pendentes</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-exclamation"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>25</h3>
                        <p>Concluídos (Mês atual)</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-dollar-sign"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-primary">
                <i class="fa fa-arrow-up"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Meta do mês</span>
                <span class="info-box-number">R$ 1500,00</span>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-success">
                <i class="fa fa-dollar-sign"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Faturamento do mês</span>
                <span class="info-box-number">
                    R$ 800,00
                    <span class="text-danger">
                        <i class="fas fa-caret-down"></i>
                        18%
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title">
                        <i class="fas fa-chart-pie mr-1"></i>
                        Faturamento (Últimos 12 meses)
                    </h3>
                    <!-- <a href="javascript:void(0);">View Report</a> -->
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                
            </div>
            <div class="card-body">
                <div class="position-relative mb-4">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <canvas
                        id="myChart"
                        height="250"
                        width="1033"
                        style="display: block; height: 200px; width: 827px;"
                        class="chartjs-render-monitor"
                    >
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>