<app-bread-crumb
    [items]="[{text: 'CLientes'}]"
/>

<app-page-header
    page-title="Clientes"
    btn-class="btn btn-success btn-lg float-right"
    btn-text="+ Novo Cliente"
    btn-link="/customers/new"
/>

<div class="card">
    <div class="card-body table-responsive">

        <div style="text-align: center;" *ngIf="resources.length === 0">
            <b>Nenhum pedido encontrado.</b>
        </div>

        <table *ngIf="resources.length > 0" class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Celular</th>
                    <th>Data de aniverário</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of resources">
                    <td>
                        <b>{{ customer.name }}</b>
                    </td>
                    <td>
                        <small>
                            {{ customer.address?.address }}, 
                            {{ customer.address?.number }}, 
                            {{ customer.address?.complement }},
                            {{ customer.address?.neighborhood }},
                            {{ customer.address?.city }}
                        </small>
                    </td>
                    <td>
                        {{ customer.cellphone ?? 'Não informado' }}
                    </td>
                    <td>
                        {{ customer.birthday ?? 'Não informado' }}
                    </td>
                    <td>
                        {{ customer.status === 'ATIVO' ? 'ATIVO' : 'INATIVO' }}
                    </td>
                    <td>
                        <a [routerLink]="[customer.id, 'edit']" class="btn btn-warning btn-sm mr-2"><i class="fa fa-edit"></i></a>
                        <button (click)="delete(customer)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
